html,body {
    margin: 0;
    padding: 0;
}

:root {
    --board1-col-1-w:1180px;
    /* --board1-col-2-w:100; ruto */
    --board1-col-3-w:1020px;
    --board1-col-1-row-1-h:615px;
    --board1-col-1-row-2-h:720px;
    --board1-col-2-row-1-h:445px;
    --board1-col-2-row-2-h:945px;
    --board1-col-3-row-1-h:430px;
    --board1-col-3-row-2-h:450px;
    --board1-col-3-row-3-h:630px;
    --board1-col-1-row-2-col-1-w:60%;
    --light:#fff;
    --fz:35px;
    --main:#85baa2;
    --gray:#ddd;
}
div{
    box-sizing: border-box;
}

.lump{
    background-color: rgba(0,0,255,.1);
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}


.canvas-board-container{
    width: 3840px;
    height: 2160px;
}
.canvas-board-wrapper{
    position: relative;
    overflow: visible;
    
    transition: left .3s ease;
}
.canvas-board-wrapper[data-tab='1']{
    left:0;
}
.canvas-board-wrapper[data-tab='2']{
    left:-100%;
}
.canvas-board-wrapper[data-tab='3']{
     left:-200%;
}
.canvas-board {
    width: 3840px;
    height: 2160px;
    /* width:1000px;
    height: 800px; */
    padding:20px;
}
.canvas-container{
    position: relative;
    background-color: #404a59;
    color:var(--gray);
    font-size: var(--fz);

}
.canvas-container:empty::after{
    content:attr(id);
    position: absolute;
    left:50%;top:50%;
    transform: translate(-50%,-50%);
    color:var(--light);
    opacity: 0.8;
}
.board1-col-2-row-3 .canvas-container {
    
    font-weight: 500;
    text-align: center;
}
.board1-col-2-row-3 .canvas-container>div>div{
    width:20%;
    
}
.board1-col-2-row-3 .canvas-container>div:first-child{
    background-color: var(--main);
    text-shadow:0 0 5px #fff;
     color:var(--light);
}
.board1-col-1{
    width: var(--board1-col-1-w);
}
.board1-col-3{
    width: var(--board1-col-3-w);
}
.board1-col-1-row-1{
    height: var(--board1-col-1-row-1-h);
}
.board1-col-1-row-2{
    height: var(--board1-col-1-row-2-h);
}

.board1-col-2-row-1{
    height: var(--board1-col-2-row-1-h);
}
.board1-col-2-row-2{
    height: var(--board1-col-2-row-2-h);
}

.board1-col-3-row-1{
    height: var(--board1-col-3-row-1-h);
}
.board1-col-3-row-2{
    height: var(--board1-col-3-row-2-h);
}
.board1-col-3-row-3{
    height: var(--board1-col-3-row-3-h);
}
.board1-col-1-row-2-col-1{
    width: var(--board1-col-1-row-2-col-1-w);
}


